<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Print NameCard View</title>

</head>

<body>
    <div id="root">
        <div v-for="nameCard in nameCards" :key="nameCard.id">
            <hr />
            <p>이름: {{nameCard.name}}</p>
            <p>주소: {{nameCard.address}}</p>
            <p>전화번호: {{nameCard.phone}}</p>
            <hr />
        </div>
        <button v-on:click="onClickNextNameCard">{{buttonText}}</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#root",
            data: {
                nameCards: [],
                nameCard_id: 1,
                buttonText: "다음 카드 불러오기"
            },
            created() {
                this.getNameCardByID();
            },
            methods: {
                onClickNextNameCard() {
                    this.nameCard_id += 1;
                    this.getNameCardByID();
                },
                getNameCardByID() {
                    const url = `http://localhost/data?id=${this.nameCard_id}`
                    fetch(url)
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok');
                        })
                        .then((json) => {
                            console.log(json)
                            this.nameCards.push(json)
                        })
                        .catch((error) => {
                            this.buttonText = "네임카드가 더이상 없습니다."
                            console.log(error);
                        });
                }
            },
        })
    </script>
</body>

</html>